body {
    font-family: 'Poppins', sans-serif;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-size: cover;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position:absolute;
}
.card {
    z-index: 1;
    background: rgba(255, 255, 255, 0.699);
    padding: 2em;
    border-radius: 25px;
    width: 100%;
    max-width: 250px;
    text-transform: capitalize;
}
.search{
    display: flex;
    justify-content: center;
    outline: none;
}
.searchbar{
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    font-size: 69%;
    font-family: 'Poppins', sans-serif;  
}
.iconify{
    height: 15px;
    width: 15px;
}
.suhu{
    margin-top:-1.5rem; 
    font-size:50px;
}
.deskripsi{
    margin-top:-2rem;
}
button{
    border-radius:50%;
    background: none;
    margin-left: -2.5em;
    border: none;
    outline: none;
}
button:hover{
    opacity: 50%;
}
.wm{
    font-size:10px;
    color: midnightblue;
}
@media only screen and (min-width: 768px) {
    .searchbar{
        font-size: 120%;    
    }
    .iconify{
        height: 20px;
        width: 20px;    
    }
    button{
        margin-left: -3em;
    }
    .card {
        max-width: 400px;
    }
    .cuaca{
        font-size: 150%;
    }
    .suhu{
        font-size:250%;
        margin-top:-2rem; 
    }
    .deskripsi{
        margin-top:-2.5rem;
    }
}
/* <!-- CREATED BY JASON SUSANTO --> */
/* <!-- SHOUT OUT TO Jonah Lawrence on Youtube --> */
